<h2 class="main__title">LOGIN</h2>
<div class="login-container">

  <!--  Display error from login fail (redirect from login `else`)-->
  <% if flash[:error].present? %>
  <h3 class="forms__error-heading">
    <%= flash[:error] %>
  </h3>
  <% end %>

  <%= form_tag login_path, :class => 'form' do %>

  <fieldset>
    <%= label_tag :email, nil, :class => 'label' %>
    <%= text_field_tag :email, nil, :class => 'input' %>
  </fieldset>

  <fieldset>
    <%= label_tag :password, nil , :class => 'label' %>
    <%= password_field_tag :password, nil, :class => 'input' %>
  </fieldset>

  <div class="btn-container">
    <%= submit_tag "Login", :class => 'btn' %>
  </div>
  <% end %>
</div>
