<h2 class="main__title">EDIT PROFILE</h2>


<%= form_for @user, :html => {:class => 'form'} do |f| %>

<fieldset>
  <%= f.label :name, :class => 'label'  %>
  <%= f.text_field :name, :class => 'input'  %>
</fieldset>

<fieldset>
  <%= f.label :email, :class => 'label'  %>
  <%= f.email_field :email, :required => true, :class => 'input'  %>
</fieldset>

<% if !@current_user.present? %>
<fieldset>
  <%= f.label :password, :class => 'label' %>
  <%= f.password_field :password, :required => true, :class => 'input' %>
</fieldset>

<fieldset>
  <%= f.label :password_confirmation, "Confirm password", :class => 'label' %>
  <%= f.password_field :password_confirmation, :required => true, :class => 'input' %>
</fieldset>
<% end %>

<fieldset>
  <%= f.label :image, :class => 'label'  %>
  <%= f.file_field :image_url, :class => 'input' %>
</fieldset>

<div class="btn-container">
  <%= f.submit "Save Profile", :class => 'btn' %>
</div>

<% end %>
