<h1>Home</h1>
<div id="play">Play</div>
<div id="pause">Pause</div>

<div>
  <canvas id="canvas__equalizer" class="canvas__equalizer"></canvas>
  <canvas id="canvas__volume" class="canvas__volume"></canvas>
</div>

<div class="monster__container">
  <%= image_tag 'm-body.png', :class => 'monster__body' %>
  <%= image_tag 'm-hat.png', :class => 'monster__hat' %>
  <%= image_tag 'm-left.png', :class => 'monster__arm-left' %>
  <%= image_tag 'm-right.png', :class => 'monster__arm-right' %>
</div>

<%= javascript_include_tag 'main.js' %>
