<h2>2D Play</h2>






<div class="monster__container">
  <%= image_tag 'm-body.png', :class => 'monster__body' %>
  <%= image_tag 'm-hat.png', :class => 'monster__hat' %>
  <%= image_tag 'm-left.png', :class => 'monster__arm-left' %>
  <%= image_tag 'm-right.png', :class => 'monster__arm-right' %>
</div>

<%= javascript_include_tag 'play.js' %>


<div id="play">Play</div>
<div id="pause">Pause</div>
