<%= javascript_include_tag 'three.min.js' %>
<%= javascript_include_tag 'orbitControls.js' %>
<%= javascript_include_tag 'axisHelper.js' %>
<%= javascript_include_tag 'datGui.js' %>


<h2 class="main__title">Sounds 3D</h2>

<div class="btn-container">
  <div id="play" class="btn">Play</div>
  <div id="pause" class="btn">Pause</div>
</div>

<div class="sounds__container"></div>

<%= javascript_include_tag 'sounds-3d.js' %>
