<!DOCTYPE html>
<html>
  <head>
    <title>MusicalMonsters</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js' %>

  </head>
  <body>
    <header class="header__container">
      <div class="header__logo"></div>
      <h1 class="header__title">Musical Monsters</h1>

    </header>

    <nav class="nav__container">
      <ul class="nav__list">
        <li class="nav__list-item"><%= link_to 'HOME', root_path %></li>
        <li class="nav__list-item"><%= link_to 'DANCE 2D', dance_2d_path %></li>
        <li class="nav__list-item"><%= link_to 'SOUNDS 3D', sounds_3d_path %></li>
        <li class="nav__list-item"><%= link_to 'PLAY', play_path %></li>
        <li class="nav__list-item"><%= link_to 'INSTRUMENT', instrument_path %></li>
      </ul>
    </nav>

    <main class="main__container">
      <%= yield %>
    </main>

  </body>
</html>
