<!DOCTYPE html>
<html>
<head>
  <title>MusicalMonsters</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js' %>

</head>
<body>

<%= yield %>


</body>
</html>
