<!DOCTYPE html>
<html>
  <head>
    <title>MusicalMonsters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js' %>

  </head>
  <body>
    <header class="header__container">
      <div class="header__logo"></div>
      <h1 class="header__title"><%= link_to 'Musical Monsters', root_path %></h1>

    </header>

    <nav class="nav__container">
      <ul class="nav__list">
        <li class="nav__list-item"><%= link_to 'HOME', root_path %></li>
        <li class="nav__list-item"><%= link_to 'DANCE', dance_path %></li>
        <li class="nav__list-item"><%= link_to 'DRUMS', drums_path %></li>
        <li class="nav__list-item"><%= link_to 'PIANO', piano_path %></li>
        <li class="nav__list-item"><%= link_to 'DJ', dj_path %></li>
        <li class="nav__list-item"><%= link_to 'CUBES', cubes_path %></li>
        <li class="nav__list-item"><%= link_to 'SNAPSHOT', snapshot_path %></li>
      </ul>
    </nav>

    <main class="main__container">
      <%= yield %>
    </main>

  <footer class="footer__container">
    <ul class="footer__list">
      <!--  CONDITIONAL LINKS -->
      <!--  if user is logged in -->
      <% if @current_user.present? %>
      <li class="footer__list-item"><%= link_to 'PROFILE', user_path(@current_user) %></li>
      <li class="footer__list-item"><%= link_to "LOGOUT", logout_path, :method => :delete %></li>

      <!--  User is NOT logged in -->
      <% else %>
      <li class="footer__list-item"><%= link_to 'SIGN UP', signup_path %></li>
      <li class="footer__list-item"><%= link_to 'LOGIN', login_path %></li>

      <% end %>
      <!--  END CONDITIONAL LINKS -->

      <li class="footer__list-item footer__nav-toggle">MENU</li>



    </ul>

  </footer>

  </body>
</html>
